<%= form_for([@post,@post.comments.build]) do |form| %>
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@project.errors.count, "error") %> Listed Below:
  </h2>

  <ul>
    <% @project.errors.full_messages.each do |err_msg| %>
    <li>
      <%= err_msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<p class="show_details">
  <%= form.label :Add Team Member %><br />
  <%= form.text_field :member_name %>
</p>
<p class="show_details">
  <%= form.submit%>
</p>
<% end%>