<div id= "show">
    <div id= "show_body">
        <p class="show_details">
            <% @project = Project.find(params[:project_id]) %>
            <% @team_member = @project.team_members.find(params[:id]) %>
            <b>Tasks assigned to <%= @team_member.name %> are</b>
            <ul>
                <% @team_member.tasks.each do |task| %>
                <li>
                    <%= task.task_title %>
                </li>
                <% end %>
            </ul>
        </p>
        <%= render "task_form" %>
    </div>
    <%= link_to 'Edit', edit_project_team_member_path(@project,@team_member) %> |
    <%= link_to 'Back', project_path(@project) %>
</div>
